@media only screen 
and (min-width : 320px) 
and (max-width : 520px) {
  
  body { overflow-x: hidden; }
  
  nav {
    right: 0 !important;
    width: 100%;
    text-align: center;
    transition: all 0s !important;
    z-index: 1000 !important;
    &.dark {
      box-shadow: 0 0 4px black;
      background: $red-dark;
      padding: .5em;
      position: fixed;
      top: inherit;
      bottom: 0;
      padding: .5em 0;
      a { color: $yellow-lightest !important; }
    }
  }
  
  section {
    padding: 1em .5em !important;
    article.left {
      min-width: inherit;
      margin: 0 !important;
    }
  }
  
	#home {
	  .title {
  	  h1 { 
  	    font-size: 250% !important;
  	    padding-top: 1em
  	  }
  	  h2 {
  	    font-size: 150%;
        padding-bottom: 1em;
  	  }
	  }
	  .round-link { margin: .25em; }
	}
	
	#about {
	  li, p { font-size: .8em !important; }
	  .entry-container .entry { width: 100% !important; }
	  .round-link { margin: .25em !important; }
	}
	
	#upcoming {
	  article.calendar {
	    margin-top: 0 !important;
	    table td { padding: .5em !important; }
	  }
	}
	
	#contact {
	  p { font-size: 1em !important; } 
	}
	
	footer {
	  .copyright { 
	    padding-bottom: 3em !important;
      font-size: .75em !important;
    }
    .top-link { 
      text-align: center !important; 
      margin-top: -5em !important;
    }
	}
	
}