$yellow: rgb(255, 215, 0);
$yellow-light: rgb(255, 233, 115);
$yellow-lighter: rgb(255, 245, 175);
$yellow-lightest: rgb(255, 249, 179);
$yellow-dark: rgb(191, 169, 48);
$yellow-darker: rgb(141, 119, 0);

$yellow-fade: rgba(191, 169, 48, .75);
$yellow-fade-some: rgba(191, 169, 48, .5);
$yellow-fade-more: rgba(191, 169, 48, .25);

$red-dark: rgb(160, 0, 0);
$red-light: rgb(90, 0, 0);

$red-fade: rgba(200, 100, 100, .75);
$red-fade-more: rgba(50, 0, 0, .25);

$black-fade-some: rgba(0, 0, 0, .5);
