$yellow: rgb(255, 215, 0);
$yellow-light: rgb(255, 233, 115);
$yellow-lighter: rgb(255, 245, 175);
$yellow-lightest: rgb(255, 249, 179);
$yellow-dark: rgb(161, 139, 48);
$yellow-darker: rgb(141, 119, 0);

//$yellow-fade: rgba(161,139,48,0.75);
//$yellow-fade-some: rgba(161,139,48,0.5);
//$yellow-fade-more: rgba(161,139,48,0.25);

$yellow-fade: rgba(191, 169, 48, .75);
$yellow-fade-some: rgba(191, 169, 48, .5);
$yellow-fade-more: rgba(191, 169, 48, .25);

$red-dark: rgb(160, 0, 0);
$red-darker: rgb(100, 0, 0);
$red-darkest: rgb(80, 0, 0);

$black-fade-some: rgba(0, 0, 0, .5);
