#contact {
  transition: all .25s ease-in;
  position: fixed;
  padding: .5em;
  right: -17em;
  width: 0;
  height: 5em;
  width: 16em;
  z-index: 200;
  top: 0;
  box-shadow: 0 0 4em 0 black;
  &.shown { right: 0; }
  
  .close {
    color: $red-darkest;
    &:hover { color: black; }
    text-shadow: 0 0 1px $yellow-lighter; 
    float: right;
  }
  
}