.show-hidden-entries {
  font-family: Narrow;
  letter-spacing: 2px;
  color: $red-dark;
  text-shadow: 1px 1px 2px black;
  a { color: $yellow-light; }
}

.entry-container {
  text-align: left;
  
  &.gigentries-container {
    .gigentry { padding-bottom: 1em; }
    .show-hidden-entries {
      text-align: right;
      width: 100%;
      display: inline-block;
    }
  }
  
  &.acts-container {
    .act {
      position: relative;
      .picture { 
        position: relative; 
        &:before, &:after {
          transition: background .25s ease-out;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: transparent;
        }
        &:before {
          width: 4em;
          height: 4em;
          margin: .5em .75em .75em .5em;
          border-radius: 100%;
        }
        &:not(.playing):after {

        }
      }
      &:hover, &.playing {
        .picture:before { background: $red-fade-some }
        .picture:after { opacity: .75 !important; margin: 1.5em 2em; }
      }
      &.playing {
        .picture:after {
          width: .5em;
          border-left: .65em solid $yellow-lightest;
          border-right: .65em solid $yellow-lightest;
          height: 2em;
          margin-left: 1.65em;
        }
      }
      &:not(.playing) {
        .picture:after {
          border-bottom: 1em solid transparent;
          border-top: 1em solid transparent;
          border-left: 1.5em solid $yellow-lightest;
          opacity: 0;  
        }
      }
    }
    .title { line-height: 4em; }
  }
  
  padding: .5em 0;
  
  .entry {
    &.hidden { display: none; }
    width: 49.5%;
    min-width: 13em;
    color: black;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    
    .picture {
      img {
        float: left;
        width: 4em;
        height: 4em;
        border-radius: 100%;
        margin: .5em .75em .75em .5em;
      }
    }
    .title {
      font-family: Narrow;
      letter-spacing: 2px;
    }
    .subtitle {
      font-size: .7em;
      font-style: italic;
    }
    .content {
      font-size: .8em;
      padding-top: .25em;
    }
  }
  
}
