@font-face {
  font-family: 'Sidetracked';
  src: font-url('StussyScript-Regular.ttf');
}

@font-face {
  font-family: 'Subtitle';
  src: font-url('wolven.ttf');
}

@font-face {
  font-family: 'Thin';
  font-size: 16px;
  src: font-url('OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Narrow';
  src: font-url('KGOneMoreNight.ttf');
}