@font-face {
  font-family: 'Sidetracked';
  src: font-url('StussyScript-Regular.ttf');
}

@font-face {
  font-family: 'Subtitle';
  src: font-url('wolven.ttf');
}

@font-face {
  font-family: 'Thin';
  src: font-url('ColabThi.otf');
}

@font-face {
  font-family: 'Narrow';
  src: font-url('KGOneMoreNight.ttf');
}